
{% extends 'Rec/base.html' %}

{% block title %}Dashboard{% endblock %}
{% load crispy_forms_tags %}



{% block content %}

    {%comment%} Checks if use is logged in  {%endcomment%}
    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'Rec:login' %}">login</a>
    {% endif %}



<div class="container py-5">
  <h1>Feed Questions</h1>
  <form method="POST">
    {% csrf_token %}
    
    {{ form2|crispy }}



 <button class="btn btn-primary" type="submit">Save</button>


</form>
</div>



{% endblock %}